<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8" />
    <title>Samsung mySingle</title>     
    <link rel="stylesheet" type="text/css" href="../../../static/log/css/log.css" th:href="@{/static/log/css/log.css}" />    
    <link rel="stylesheet" type="text/css" href="../../../css/components.css" th:href="@{/static/log/css/components.css}" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    
    <!-- <link rel="stylesheet" type="text/css" href="../../../css/ui.dynatree.css" th:href="@{/css/ui.dynatree.css}" id="skinSheet" /> -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    
    <script type="text/javascript" src="../../../static/log/js/common.js" th:src="@{/static/log/js/common.js}"></script>
    <script type="text/javascript" src="../../../static/log/js/jquery.cookie.js" th:src="@{/static/log/js/jquery.cookie.js}"></script>
    <script type="text/javascript" src="../../../static/log/js/jquery.dynatree.js" th:src="@{/static/log/js/jquery.dynatree.js}"></script>
        
</head>
<body>
<div id="wrap">
    <!-- lnb -->
    <div id="lnb" class="lnb">
    	<div id="tree" class="tree_wrap" >
        tree area        
    	</div>
    </div>
    <!-- // lnb -->

    <div id="container" class="layout2">
        <div id="content">

			<!-- ########## 본문 시작 ########## -->
			<ul class="nav nav-tabs"><!-- 20121205 컴포넌트 tab -->
				<li class="active"><a href="#">Browser<!--<span class="num-style01">200</span>--></a></li>
				<li><a href="#"><span class="num-style01">+</span></a></li>				
			</ul>
			
			<div class="btn_wrap">
				<button class="btn " type="button"><i class="icon-file"></i> New Folder</button>
				<button class="btn btn-green" type="button"><i class="icon-file icon-white"></i> Upload</button>
				<button class="btn btn-blue" type="button"><i class="icon-remove icon-white"></i> Delete</button>
				<button class="btn btn-gray" type="button" onClick="viewStreamingLayer();return false;"><i class="icon-ok icon-white"></i> Streaming</button>
			</div>
			
			<div class="path_area">
				<a href="#">path1</a>
				<span class="icon-play"></span>
				<span class="on">path1-1</span>
			</div>
			
			
            <div class="tb_area">
                <table class="tb_list">
                    <colgroup>
                        <col width="30px" /><col width="30%" /><col width="10%" /><col width="20%" /><col width="20%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="first"><input type="checkbox" /></th>
                            <th>File Name</th>
                            <th>Length</th>
                            <th>Owner</th>
                            <th>Group</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr th:each="file : ${fileList}">
                         	<td class="first"><input type="checkbox" th:value="${file.path}" /></td>
                            <td><span class="icon-folder2-close" th:class="${file.dir} ? 'icon-folder2-close' : 'icon-folder-close'"> </span><a href="#" th:onclick="'onFileClick(\'' + ${file.path} + '\', ' + ${file.dir} + ');return false;'" th:text="${file.name}">fileName</a></td>
                            <td th:text="${file.length}">12343</td>
                            <td th:text="${file.owner}">kyungtaak</td>
                            <td th:text="${file.group}">group</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#myModal" data-toggle="modal">Mark1 클릭</a> <br/>
            <a href="#stModal" data-toggle="modal">Mark2 클릭</a>
            <!-- 그리드 본문 팝업 -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
              <div class="modal-header">
                <button class="close icon-remove" type="button" data-dismiss="modal" aria-hidden="true"></button>
                <h3>Mark1</h3>
              </div>
              <div class="modal-body">
                <textarea class="text_con">
혜민 스님의 '멈추면, 비로소 보이는 것들'이 출간 13개월 만에 200만부 돌파를 앞두고 있다. 비소설 단행본 중 '최단 기간 200만부 돌파' 기록이다.
◇'멈추면…'의 멈추지 않는 열풍
지난해 1월 27일 출간된 이 책은 14일 현재 총 197만7183부(출판사 출고 기준)가 팔렸다. 출판사인 쌤앤파커스는 "이미 예약 주문된 4만5000부를 15일 출고하면 누적 출고 202만2183부가 돼 이날 200만부를 돌파하게 된다"고 밝혔다.
'나의 문화유산답사기'( 유홍준 ) 시리즈가 지난해 3월 인문서로는 처음으로 300만부를 돌파했지만, 이는 6권을 모두 합한 수치다. 지난 2007년 출간된 '시크릿'(론다 번)은 열풍을 일으키며 빠른 속도로 팔려나갔지만 아직까지 200만부 판매엔 미치지 못했다. 2011년 출간된 '아프니까 청춘이다'( 김난도 )는 14일까지 194만부가 팔렸다.
문학에서는 신경숙 장편소설 '엄마를 부탁해'가 지난해 4월 출간 3년 반 만에 200만부를 돌파했다. 한국소설 중 단권으로 200만부 판매를 넘은 경우는 김정현의 '아버지'(1996), 조창인의 '가시고기'(2000)가 있다.
                </textarea>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">취소</a>
                <a href="#" class="btn btn-primary">저장</a>
              </div>
            </div>
            <!-- // 그리드 본문 팝업 -->
            
            <!-- 스트리밍 팝업 -->
            <div id="stModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
              <div class="modal-header">
                <button class="close icon-remove" type="button" data-dismiss="modal" aria-hidden="true"></button>
                <h3>Hadoop Streaming</h3>
              </div>
              <div class="modal-body">
              	MapperScript<br/>
                <textarea id="mapper" rows="6" style="height: 40%; width: 90%;">

                </textarea><br/>
                ReduceScript<br/>
                <textarea id="reducer" rows="6" style="height: 40%; width: 90%;">

                </textarea><br/><br/>
                Input File  <input type="text" id="inputPath" /><br/>
                Output Directory <input type="text" id="outputPath" />
              </div>
              <div class="modal-footer">
                <span>abc</span>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">취소</a>
                <a href="#" onClick="goStreaming();return false;" class="btn btn-primary">RUN</a>
              </div>
            </div>
            <!-- // 스트리밍 팝업 -->
            
        </div>
        <!-- // content -->
    </div>
    <!-- // container -->
</div>
<!-- // wrap -->

<script th:inline="javascript">
//<![CDATA[
           
    var currentPath = "/";
    
  	$(function() {
  		var initialPath = "/";
  		pathView(initialPath);
  		
  		var initialFileData = /*[[${fileInfoString}]]*/ '[{"length":0,"name":"test1","path":"/test1","permission":null,"owner":"epsvc","children":[],"level":1,"dir":true,"parentDir":"root","group":null,"midTime":null},{"length":0,"name":"test2","path":"/test2","permission":null,"owner":"epsvc","children":[],"level":1,"dir":true,"parentDir":"root","group":null,"midTime":null}]';
  		
  		// treeview 초기화.
  		$('#tree').dynatree({
  			children: convertTreeData(JSON.parse(initialFileData)),    			
  			onLazyRead: function(node) {
  				console.log('Node info : ' + node.data.path);
  		        $.ajax({
  		        	type: "GET",
  		            url: '/hadoop-manager/filesystem/list.hdfs',
  		            data: {"path": node.data.path},
  		            dataType: "json",
  		            success: function(data, textStatus) {
  		                // PWS status OK
  		                node.setLazyNodeStatus(DTNodeStatus_Ok);
  		                node.addChild(convertTreeData(data));    		                
  		            }
  		        });
  			},
  			onSelect: function(flag, node) {
  	            if(flag) {
  	                alert("You selected node with title " + node.data.title);
  	            }    	            
  	        },
  	        onActivate: function(node) {
 	                //alert("You acitived " + node.data.title);
 	            	changeDirectory(node.data.path);
  	        }
  	    });
  		
  		
  	});
  	
  	function viewStreamingLayer() {
  		console.log('[F]viewStreamingLayer> ');
  		
  		$('#stModal .modal-footer span').text('');
  		$('#outputPath').val('');
  		$('#mapper').val('');
  		$('#reducer').val('');
  		
  		
  		var path = $('input:checkbox:checked').val();
  		
  		console.log('checked path > ' + path);
  		
  		$('#inputPath').val(path);  		
  		
  		$('#stModal').modal('show');
  	}
  	
  	function goStreaming() {
  		console.log('[F]goStreaming> ');
  		
  		var param = {};
  		var outputPath = $('#outputPath').val();
  		param.inputPath = $('#inputPath').val();
  		param.outputPath = outputPath;
  		param.mapperScript = $('#mapper').val();
  		param.reducerScript = $('#reducer').val();
  		
  		console.log(param);
  		
  		$('#stModal .modal-footer span').text('WAIT...');
  		
  		$.getJSON('/hadoop-manager/streaming/script.hdfs', param, function(data) {
  			showStreamingResult(data, outputPath);
  		});
  		
  	}
  	
  	function showStreamingResult(data, outputPath) {
  		//  결과 보여줌
  		//  check output path!!
  		$('#stModal .modal-footer span').html('Check output path <a href="#" onClick="goResultPath(\'' + outputPath + '\');return false;">GO!!!</a>');
  	}
  	
  	function goResultPath(path) {
  		$('#stModal').modal('hide');
  		//tree refresh
  		
  		//change directory
  		changeDirectory(path);
  	}
  	
  	function pathView(path) {
		var $pathDiv = $(".path_area");
		
		currentPath = path;
	
		var hierarchicalPath = parsePath(path);
  		
  		$pathDiv.empty();    		
  		$pathDiv.append('<a href="#" onClick="changeDirectory(\'/\');return false;">ROOT</a>')
  		
  		for(var i=0; i<hierarchicalPath.length; i++) {
  			var pathName = hierarchicalPath[i].substring(hierarchicalPath[i].lastIndexOf('/') + 1, hierarchicalPath[i].length); 
  			$pathDiv.append('<span class="icon-play"></span>');
  			$pathDiv.append('<a href="#" onClick="changeDirectory(\'' + hierarchicalPath[i] + '\');return false;">' + pathName + '</a>')
  			
  			console.log();
  		}
  		console.log($pathDiv.get(0));
  	}
  	
  	function parsePath(path) {
  		var hierarchicalPath = [];
  		
  		while(path.lastIndexOf('/') > -1) {
  			console.log('test: ' + path);
  			if(path.length < 2) {
  				break;
  			}    				
  			var tempPath = path;
  			hierarchicalPath.push(tempPath);
  			path = tempPath.substr(0, path.lastIndexOf('/'));
  			
  		}
  		
  		console.log('parsePath result(before reverse()): ' + hierarchicalPath);
  		
  		return hierarchicalPath.reverse();
  	}
  	
  	function onFileClick(path, isDir) {
  		if(isDir) {
  			console.log('[F]onFileClick :: ChangeDirectory > ' + path );
  			changeDirectory(path);
  		} else {
  			console.log('[F]onFileClick :: FileView > ' + path );
  			fileView(path);
  		}
  	}
  	
  	function fileView(path) {
  		var param = {"path":path};    		
  		// servelet 명 부분 치환 필요!!
  		$.getJSON('/hadoop-manager/filesystem/contents.hdfs', param, function(data) {
  			viewContentsLayer(data, path);
  		});
  	}
  	
  	function viewContentsLayer(data, path) {
  		console.log('[F]viewContentsLayer> ' + path)
  		console.log(data.contents);
  		$('#myModal .modal-header h3').text(path);
  		$('#myModal .modal-body textarea').text(data.contents);
  		$('#myModal').modal('show');
  	}
  	
  	function changeDirectory(path) {
  		console.log('[F]changeDirectory> ' + path)
  		
  		// path rebuild
  		pathView(path); 
  		
  		var param = {"path":path};    		
  		// servelet 명 부분 치환 필요!!
  		$.getJSON('/hadoop-manager/filesystem/list.hdfs', param, function(data) {
  			rebuildFileBrowser(data, path);
  		});
  	}
  	
  	function rebuildFileBrowser(data, path) {
  		console.log("on rebuildFileBrowser : " + data);
  		
  		var $pathList = $('.tb_area tbody');
  		$pathList.empty();
  		
  		var $tr = $('<tr></tr>');
  		var $th = $('<th></th>');
  		
  		for(var i=0;i<data.length;i++) {
  			var $tempTR = $tr.clone();
  			$tempTR.append('<td class="first"><input type="checkbox" value="' + data[i].path + '"/></td>');
  			var folderClass;
  			if(data[i].dir) {
  				folderClass = 'icon-folder2-close'
  			} else {
  				folderClass = 'icon-folder-close'
  			}
			$tempTR.append($th.clone().html('<span class="' + folderClass + '"> </span><a href="#" onClick="onFileClick(\'' + data[i].path + '\', ' + data[i].dir + ');return false;">' + data[i].name + '</a>'));
      		$tempTR.append($th.clone().html(data[i].length));
      		$tempTR.append($th.clone().html(data[i].owner));
      		$tempTR.append($th.clone().html(data[i].group));
      		$pathList.append($tempTR);
  		}  		
  		
  		
  		// TreeView 처리
   		var tree = $("#tree").dynatree("getTree");
  		if(path != '/') {
	   		tree.loadKeyPath(path, function(node, status){
			    if(status == "loaded") {
			        // 'node' is a parent that was just traversed.
			        // If we call expand() here, then all nodes will be expanded
			        // as we go
			        console.log('status loaded!');
			        node.expand();
			    }else if(status == "ok") {
			        // 'node' is the end node of our path.
			        // If we call activate() or makeVisible() here, then the
			        // whole branch will be exoanded now
			        console.log('status ok!');
			        node.expand();
			        node.activate();
			    }else if(status == "notfound") {
			        var seg = arguments[2],
			        isEndNode = arguments[3];
			    }
			});
  		} else {
  			// tree 초기화?
  		}
  		console.log('rebuildFileBrowser result: \n' + $pathList.get(0));
  	}
  	
  	function convertTreeData(data) {
  		console.log("convertTreeData result: \n" + data);
  		var result = [];
  		for(var i=0;i<data.length;i++) {
  			if(!data[i].dir) {
  				continue;
  			}
  			var tempData = {"title": data[i].name, "key": data[i].name, "path":data[i].path, "isFolder":true, "isLazy":true};
  			result.push(tempData);
  		}
  		console.log("convertTreeData result: " + result);
  		return result;
  	}
  	
//]]>	
</script>

</body>
</html>